<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="dashboard.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="body">
<h2 class="title lead">
    Investing securities
</h2>

<input class="input form" placeholder='Your e-mail'/>


<table class="tableMain">
    <caption class="copyright">Made by Roman Barmutov, Vitalii Dubovyk, Vova Bezridniy </caption>
    <thead>
    <tr>
        <th scope="col">Band</th>
        <th scope="col">Year formed</th>
        <th scope="col">No. of Albums</th>
        <th scope="col">Most famous song</th>
    </tr>
    </thead>
</table>

</body>
</html>