.title {
    text-align: left;
    width: 100%;
    height: 100%;
    margin-left: 0;
    background: #0b0711;
    font-size: 44px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.body {
    margin-left: 10px;
    margin-right: 10px;
    background: #0b0711;
}

.tableMain {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    color: white;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th, td {
    padding: 20px;
}

.copyright {
    text-align: center;
    font-weight: bold;
}

.search {
    width: 16%;
    margin-bottom: 10px;
    font-weight: bold;
}

.buttonAddCustomer {
    hight: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.row {
    hight: 10px;
    margin-left: 0;
}

.labelCustomer {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.buttonInvest {
    hight: 10px;
    margin-left: 915px;
    font-size: 14px;
    font-weight: bold;
}
